<style>
   .header-logo{
     padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;}
</style>

<body>
<div class="header-title">
   <h3><font color = "red"><b><center>Website Under Construction.</center></b></font></h3> 
        <h1><font color = "black"><b><center>Austin Outcomes Dashboard<img class="header-logo" src="{{site.baseurl}}/components/images/Strategic_Direction-logo_medium.png" height="318" width="1200"  alt="City of Austin"></font></center></b></h1>
        <h3><font color = "black"><center>Learn about our 6 strategic outcomes in <a href='http://bit.ly/atxStrategicPlan' target ="_blank"> Austin Strategic Direction 2023.</a></center></font></h3>
   
   


<div class="col-sm-1"></div>

        
      </div>
</body>


