

<nav class="navbar navbar-inverse navbar-default" role="navigation">
  <div class="container-fluid">

   
    <div class="navbar-header">
 
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 

<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span></button>

    
    <div class="navbar-collapse collapse " id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">




<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://data.austintexas.gov/nominate">Suggest a Dataset</a> </li>
            <li><a href="https://data.austintexas.gov/browse">Browse all datasets</a></li>
           <li><a href="https://www.surveymonkey.com/r/FDN5M63">Request a Dashboard</a></li>

            <li> <a href="https://data.austintexas.gov/analytics">Site Analytics</a> </li>
          </ul>
        </li>



 <li><a href="https://cityofaustin.seamlessdocs.com/f/atxopendatarocks" >Help</a></li>
 
<li><a href="https://www.austintexas.gov/">AustinTexas.gov</a></li>

<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Links to Explore <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://austintexas.gov/sites/default/files/files/YIR_2016_web-cover.pdf">Year in Review</a> </li>
            <li><a href="https://www.austintexas.gov/financeonline/afo_content.cfm?s=12&p=99">Annual Reports</a></li>

            </ul>
        </li>

      
 <li><a href="https://austintexas.gov/austingo2.0" >Blog</a></li>
        
      </ul>

      
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
